#sign-in-and-sign-up-container {
    color: white;
    min-height: 100vh;
    padding: 0 5%;
    display: grid;
    grid-template-rows: min-content auto;
}

.space-evenly > * {
    margin-top: 10px;
    margin-bottom: 10px
}

.space-evenly:first-child {
    margin-top: 0;
}

.space-evenly:last-child {
    margin-bottom: 0;
}