.tracking-mode-select {
    display: flex;
    align-items: center;
}

.tracking-mode-select:not(:last-child) {
    margin-bottom: 10px;
}

.tracking-mode-select label {
    margin-right: 5px;
    margin-bottom: 0;
}

#tracking-options-panel .card-header {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tracking-options-panel .accordion {
    width: 100%;
}

#tracking-options-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#tracking-options-panel > * {
    margin-bottom: 20px;
}

#tracking-options-panel > *:last-child {
    margin-bottom: 0;
}

#tracking-options-panel .card-body {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 15px;
    grid-column-gap: 5px;
}

#tracking-options-panel .card-body label {
    margin: 0;
}

#tracking-options-panel input {
    margin: auto;
}

#tracking-options-panel #new-username {
    display: flex;
}

#tracking-options-panel #new-username button {
    margin-left: 10px;
}

#tracking-options-panel small {
    margin-bottom: 0;
}